*{
  box-sizing: border-box;
}
*:focus{
    outline: 2px dotted #de2e54;
    outline-offset: 2px;

}
html{
  scroll-behavior: smooth;
}
body{
  margin: 0;
  padding: 0;
  font-family: "Open sans" "Arial" 'sans-serif';
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0,5;
}

.container{
  width: 100%;
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;

}
.site-header{
  padding-top: 24px;
  padding-bottom: 24px;
  background-color: #fff;
}
.site-header-container{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
/* site logo  */
.site-logo{
  display: flex;
  align-items:center;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: #222;
  text-decoration: none;
}
.site-logo:hover{
  color: #DE2E54;
}
.site-logo:active{
  color: #fff;
  opacity: 0.6;
}
.site-logo-img{
  margin-right: 16px;
  border-radius:50%;
}
/* navogation  */
.sitenav{
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 2px;
  text-transform: uppercase;
}
.sitenav-list{
  display: flex;
  align-items:center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.sitenav-item:not(:last-child){
  margin-right: 32px;
}
.sitenav-link{
  display: block;
  color: #222;
  text-decoration: none;
}
.sitenav-link:hover{
  color: #DE2E54;
}
.sitenav-link:active{
  opacity: 0,6;
}

.btn-link{
  display: inline;
  padding: 10px 22px;
  font-family: 'Open Sans Condensed' 'Open sanse' 'Arial' sans-serif;
  font-size: 15px;
  font-weight: 700;
  line-height: 22px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background-color: #DE2E54;
  border: 2px solid #DE2E54;
  border-radius: 8px;
}
.main-link:hover{
  border-color: transparent;
  background-color:#DE2E54;
  color: #fff;
}
.btn-link:hover{
  color:#DE2E54;
  background-color: #fff;
  opacity: 0.5;
}
.btn-link:active{

  background-color:#DE2E54;
  color:#fff;
}
/* MAIN  */

/* site hero  */
.hero{
  background-color: #0EB4C1;
  color:#fff;
}
.site-hero-container{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.site-hero-contend{
  width: 500px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.hero-title{
  font-family: "Open Sans Condensed";
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  margin-top: 0;
  margin-bottom: 16px;
  color: #fff;
}
.hero-text{
  width: 440px;
  margin-top: 0;
  margin-bottom: 36px;
  font-size: 18px;
  line-height: 27px;
}
.hero-img{
  align-self:flex-end;
}
/* services  */
.services{
  padding-top: 120px;
  padding-bottom: 120px;
}
.service-heading{
  margin-top: 0;
  margin-bottom: 56px;
  font-family: 'Open Sans Condensed';
  font-weight: 700;
  font-style: 36px;
  line-height: 1,2;
  text-align: center;
}
.service-list{
  width: 864px;
  padding: 0;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  list-style: none;
}
.service-item{
  display: flex;
  align-items:center;
}
.service-item:not(:last-child){
   margin-bottom: 80px;
}
.service-img{
  width: 200px;
  height: 200px;
  margin-right: 64px;
  /* box-shadow: 0px 12px 24px -8px rgba(0, 107, 116, 0.3); */
  border-radius: 24px;
}
.service-contend{
  width: 600px;
}
.service-title{
  margin-top: 0;
  margin-bottom: 24px;
  font-family: 'Open Sans Condensed' 'Open sanse' 'Arial' sans-serif;
  font-weight: 700;
  line-height: 1.2;
  color: #000;
}
.service-text{
  width: 600px;
  margin: 0;
  color: #444;
}
.services-actions{
  display: flex;
  justify-content:center;
  margin-top: 0;
}
.main-link:hover{
  border: 2px solid #DE2E54;
  background-color: #fff;
  color:#DE2E54;
}
.main-link:active{
  background: #DE2E54;
  color: #fff;
}

/* CTA  */

.cta{
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #0EB4C1;
}
.cta-heading{
  font-family: 'Open Sans Condensed' 'Open sanse' 'Arial' sans-serif;
  font-weight: 700;
  font-style: 36px;
  line-height: 1.2;
  margin-bottom: 40px;
  color: #FFFFFF;
  text-align: center;
}
.cta-link{
   display: flex;
   justify-content: center;
   align-items: center;
}
.cta-links-item:not(:last-child){
  margin-right: 40px;
}
.cta-links{
  border-color:#fff;
  background-color: transparent;
  color: #fff;
}
.cta-links:hover{
  border-color:#DE2E54;
  background-color: #DE2E54;
  color:#fff;
}
.cta-links:active{
  background: #DE2E54;
  opacity: 0.6;
}


/* site footer */
.site-footer{
  padding-top: 24px;
  padding-bottom: 24px;
  color:#fff;
  background: #000;
}
.site-footer-container{
  display: flex;
  align-items:center;
  justify-content: space-between;
}
.site-logo-site-footer{
  color: #fff;
}
.sitenav-list-footer .sitenav-link{
  color:#fff;
}
.sitenav-list-footer .sitenav-link:hover{
  color: #DE2E54;
  opacity: 0.6;
}
.sitenav-list-footer .sitenav-link:active{
  color: #fff;
  opacity: 0.6;
}